.wrapper {
    --search-height: 46px;
    --search-width: 361px;

    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    justify-content: center;
    .content {
        width: var(--default-layout-width);
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--default-layout-horizontal-spacer);
        .logo {
            cursor: pointer;
        }

        .search-result {
            width: var(--search-width);

            .search-title {
                padding: 5px 12px;
                font-size: 1.4rem;
                font-weight: 600;
                color: rgba(22, 24, 35, 0.4);
                text-align: left;
            }
        }
        .search-container {
            width: var(--search-width);
            height: --search-height;
            background: rgba(22, 24, 35, 0.06);
            border: 1px solid transparent;
            border-radius: 92px;
            display: flex;
            align-items: center;
            overflow: hidden;

            .search-input {
                flex: 1;
                font-weight: 400;
                font-size: 1.6rem;
                padding: 12px 16px;
                // line-height: 22px;
                background: transparent;
                width: 252px;

                &:not(:placeholder-shown) ~ .search-btn {
                    color: rgba(22, 24, 35, 0.75);
                }
            }

            .search-clear,
            .search-loading {
                margin: 0px 12px;
                border: none;
                color: rgba(22, 24, 35, 0.3);
                font-size: 1.4rem;
                display: none;
            }

            .search-loading {
                display: none;
            }

            .search-spliter {
                width: 1px;
                height: calc(var(--search-height) - 18px);
                background-color: rgba(22, 24, 35, 0.1);
            }

            .search-btn {
                padding: 11px 16px 11px 12px;
                // margin-left: 0;
                font-size: 2rem;
                color: rgba(22, 24, 35, 0.3);
                cursor: pointer;

                &:hover {
                    background-color: rgba(22, 24, 35, 0.06);
                }

                &:active {
                    background-color: rgba(22, 24, 35, 0.08);
                }
            }

            &:focus-within {
                border-color: rgba(22, 24, 35, 0.2);
            }
        }

        .right-header {
            .wrapper {
                display: flex;
                align-items: center;
                .content {
                    margin-left: 0px;
                }

                .header-upload {
                    color: var(--black);
                    .upload-icon {
                        margin-right: 8px;
                    }
                }

                // Function logined
                .function {
                    font-size: 2.2rem;
                    padding: 4px 12px;
                    cursor: pointer;
                }
                .header-upload + .function {
                    margin-left: 12px;
                }
                .function + .function {
                    margin-right: 12px;
                }

                // Avatar
                .user-avatar {
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .settings {
                    padding: 4px 12px;
                    margin: 0 8px 0 24px;
                    font-size: 1.8rem;
                    color: rgba(22, 24, 35, 0.8);
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}
